
@{
    ViewBag.Title = "ActorAdmin";
}


<link rel="stylesheet" href="~/Content/main.css">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Image/icon.jfif" type="image/png">
    <title>ryan reynolds</title>

 

 
</head>

<body>
    <!--
      - main container
    -->
    <div class="container">

       

        <div class="card-head">

            <img src="~/Image/cast/cast3.jpg" alt="" class="img-movie">


            <div class="card-overlay">
                <h3 class="card-title" style="font-weight: 700;font-size: xx-large;">Ryan Reynolds</h3>


                <div class="favorite-box button">

                    <button type="box">Update</button>
                    <button type="box">Delete Actor</button>

                </div>

            </div>

        </div>


        <div class="card-body">
            <div class="card-info">
                <span class="job">actor</span>
                <span class="year">Born: October 23, 1976 in Vancouver, British Columbia, Canada</span>

            </div>


        </div>

        <section class="cast">
            <h2 class="cast-heading">Known For</h2>


            <div class="movies-grid">
                <div class="movie-card">
                    <div class="cast-head">
                        <img src="~/Image/cast/red-notice.jpg" alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">red notice</h3>

                    </div>
                </div>
                <div class="movie-card">
                    <div class="cast-head">
                        <img src="~/Image/cast/actor3works1.jpg" alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Deadpool 2 </h3>

                    </div>
                </div>
                <div class="movie-card">
                    <div class="cast-head">
                        <img src="~/Image/cast/actor3works2.jpg" alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">adam project</h3>
                    </div>
                </div>

            </div>
 

    </div>


    <!--
      - custom js link
    -->
    <script src="~/Scripts/js/main.js"></script>

    
</body>
</html>

