
@{
    ViewBag.Title = "DirectorAdmin";
}
<link rel="stylesheet" href="~/Content/main.css">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Image/icon.jfif" type="image/png">
    <title>Rawson Marshall</title>

    
</head>

<body>
    <!--
      - main container
    -->
    <div class="container">



        <div class="card-head">

            <img src="~/Image/cast/director1.jfif" alt="" class="img-movie">


            <div class="card-overlay">
                <h3 class="card-title" style="font-weight: 700;font-size: xx-large;">Rawson Marshall</h3>

                <div class="favorite-box button">

                    <button type="box">Update</button>

                    <button type="box">Delete director</button>
                </div>

            </div>

        </div>


        <div class="card-body">
            <div class="card-info">
                <span class="job">director</span>
                <span class="year">born on February 9, 1975 in San Francisco, California, USA</span>

            </div>


        </div>

        <section class="cast">
            <h2 class="cast-heading">Known For</h2>


            <div class="movies-grid">
                <div class="movie-card">
                    <div class="cast-head">
                        <img src="~/Image/cast/red-notice.jpg" alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">red notice</h3>

                    </div>
                </div>
                <div class="movie-card">
                    <div class="cast-head">
                        <img src="~/Image/cast/director1work.jpg" alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">sky scraper </h3>

                    </div>
                </div>
                <div class="movie-card">
                    <div class="cast-head">
                        <img src="~/Image/cast/director1work2.jpg" alt="" class="card-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Easy A</h3>
                    </div>
                </div>

            </div>
            

    </div>



</body>
</html>

